APP_ENV=local

RECOMMENDATION_SERVICE_PORT=8084

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=dietician_user
POSTGRES_PASSWORD=dietician_password
RECOMMENDATION_DB_NAME=recommendation_db
POSTGRES_SSL_MODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

PROFILE_SERVICE_URL=http://profile-service:8082
PROGRESS_SERVICE_URL=http://progress-service:8083
MEDICAL_SERVICE_URL=http://medical-service:8085
