APP_ENV=local
APP_PORT=8081

JWT_SECRET=change_me

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=dietician_user
POSTGRES_PASSWORD=dietician_password
ACCOUNT_DB_NAME=account_db
POSTGRES_SSL_MODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_gmail@gmail.com
SMTP_PASSWORD=your_app_password
